extends ./layout.jade
block contenido
     div(class="col-md-8 remove-float center-block text-center big-top-space")
          h1 Bienvenido a Workii
          a(href="/login") Iniciar Sesión
          div
          a(href="/signup") Registro

