<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Workii - Crear una cuenta
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>Correo</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address"
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Por favor ingrese un correo válido./p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Contraseña</ion-label>
      <ion-input formControlName="password" type="password"  placeholder="Your password"
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>La contraseña debe tener más de 6 caracteres.</p>
    </ion-item>

    <button ion-button block type="submit">
      Registrarse
    </button>

  </form>

</ion-content>
